{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-lg-8 col-md-12 m-2">
            <img class="card-img-top sellImage" src="{{items.item_image}}"alt="image">
        </div>

        <div class="col-lg-3 col-md-12 m-2">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                    {{items.item_name}}
                </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Color:{{items.color}}</li>
                      <li class="list-group-item">Size: {{items.size}}</li>
                      <li class="list-group-item">Price: {{items.price}}$</li>
                    </ul>

                    <div class="">
                        <a href="{%url 'homepage' %}" class="">buy now</a>
                        <a href="{%url 'homepage' %}" class="">add to cart</a>
                    </div>
                    
            </div>
        </div>
        
    </div>

    {% if user.is_authenticated %}
      
    
    <li class="">
      on {{user.username}}
      <a href="{%url 'homepage' %}" class="">buy now</a>
      <a href="{%url 'homepage' %}" class="">add to cart</a>
    </li>

    {% else %}

    <li class="">
     off
     <a href="{%url 'login' %}" class="">buy now</a>
     <a href="{%url 'login' %}" class="">add to cart</a>
    </li>

    {% endif %}
{% endblock content %}